@import"estudios";
@import"hobby";
@import"noticias";
@import"contacto";
@import"../base/variables";
@import"../base/listas";
@import"mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  */
body{
    background-color: $color-principal;
    width: 100%;
    
    .menu-container{
        width: 100%;
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #1e5128;

    @media (max-width:700px){
        .menu-container{
            flex-direction: column;

        }
    }

        
    .container-logo{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    h2{
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
      
    }
    .nv-1{
        height:60px;
        margin-right: 10px ;
        border-radius: 5% 5% 5% 5%;
        -webkit-border-radius: 5% 5% 5% 5%;
        -moz-border-radius: 5% 5% 5% 5%;
        -ms-border-radius: 5% 5% 5% 5%;
        -o-border-radius: 5% 5% 5% 5%;
}

        }
    .barra-navegacion{
            display: flex;
            flex-wrap: wrap;
            justify-content:end;
            justify-items: center;
      a{
        background:$color-secundario;
        color:black;
        padding: 10px 30px ;
        margin: 10px;
        display: inline-block;
        text-decoration: none;
        border-radius:20px 5px 15px 40px;
        transition: 1s;
        border: 2px solid black;
        box-shadow: #082032 5px 5px 5px ;
         }     
         a:hover{
        color:white ;
    }
            
        }

    }
    h1{
        font-size: 30px;
        color: #fff;
    }
    p{color: #fff;

    }

 
.contenedor-principal{
        width: 100vw;
        display: flex;
        justify-content: center;
        .contenedor-carrusel{
            width: 60%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
        }   
    
    }

    .parrafo-principal{
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }  
    
    /* Barra navegacion */
    .sub-navegacion ul {
        list-style: none;
        display: flex;
        flex-direction:row;
        justify-content: end;
        padding:5px;
        margin: 5px;
    }
   /* inicio de pie de pagina */
    .pie-pagina{
        width: 100%;
        background-color: #1e5128;

        .grupo-2{
            color:ghostwhite;
            text-align: center;
            padding: 15px 10px;
        }   
        .grupo-1{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;

        
        .red-social a {
            display:inline-block;
            text-decoration: none;
            width: 50px;
            height: 50px;
            line-height: 50px;
            color:#1e5128;
            margin-right: 10px;
            background-color:#082032;
            text-align: center;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
}
.red-social a:hover{
    color: #fff;
}
                
        .box figure{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 100px; }
        h2{
            color:#fff ;
            text-align: center; }    }
       
            .box h2{
                color:#fff ;
                font-size: 20px; }  }
       



    }









}